<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" />
  <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Clinic Online</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dla Pacjentów <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pomoc w nagłych sytuacjach</a></li>
            <li><a href="#">Jak korzystać z usług w szpitalu</a></li>
            <li><a href="#">Telemedycyna</a></li>
            <li><a href="#">Porady zdrowotne</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Placówki i Lekarze <span
                  class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Placówki medyczne</a></li>
            <li><a href="#">Nasi lekarze</a></li>
            <li><a href="#">Salony optyczne</a></li>
            <li><a href="#">Apteli</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">O nas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Zapisz się do newslettera</a></li>
            <li><a href="#">Kariera</a></li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="alert alert-danger" th:if="${error != null}"
       th:text="#{${error}}"/>
  <div class="alert alert-success" th:if="${success != null}"
       th:text="#{${success}}"/>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="row text-center">
      <div class="card col-md-2 col-md-offset-2">
        <img class="card-img-top img-fluid" src="/images/internista.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <br/>
          <h4 class="card-title">Internista</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>

      <div class="card col-md-2 col-md-offset-1">
        <img class="card-img-top img-fluid" src="/images/profilaktyka.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <h4 class="card-title">Profilaktyka i szczepienia</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>

      <div class="card col-md-2 col-md-offset-1">
        <img class="card-img-top img-fluid" src="/images/dermatolog.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <br/>
          <h4 class="card-title">Dermatolog</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="card col-md-2 col-md-offset-2">
        <img class="card-img-top img-fluid" src="/images/okulista.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <br/>
          <h4 class="card-title">Okulista</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>

      <div class="card col-md-2 col-md-offset-1">
        <img class="card-img-top img-fluid" src="/images/endokrynolog.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <br/>
          <h4 class="card-title">Endokrynolog</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>

      <div class="card col-md-2 col-md-offset-1">
        <img class="card-img-top img-fluid" src="/images/pozostali.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <h4 class="card-title">Pozostali specjaliści</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="card col-md-2 col-md-offset-2">
        <img class="card-img-top img-fluid" src="/images/stomatolog.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <br/>
          <h4 class="card-title">Stomatolog</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>

      <div class="card col-md-2 col-md-offset-1">
        <img class="card-img-top img-fluid" src="/images/badania.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <h4 class="card-title">Badania</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>

      <div class="card col-md-2 col-md-offset-1">
        <img class="card-img-top img-fluid" src="/images/ortopeda.png" alt="Card image" style="width:100%"/>
        <div class="card-img-overlay">
          <h4 class="card-title">Ortopeda i fizjoterapeuta</h4>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zapisz się</a>
        </div>
      </div>
    </div>

    <hr/>



  </div>
</div>

<footer class="row">
  <div class="col-md-12">
    <p>
      © 2018
    </p>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Wybierz datę i godzinę wizyty</h4>
        <div class="modal-body">
                <form class="form-horizontal" role="form" th:action="@{/visit/start/process}" th:object="${visit}" method="post">
        
          <div class="row">
            <div class='col-sm-6'>
              <input type="date" name="bday" id="visitData" th:field="*{date}"/>
            </div>

            <div class='col-sm-6'>
              <select name="Godzina"  id="hour" th:field="*{hour}">
                <option value="8:00">8:00</option>
                <option value="8:30">8:30</option>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
              </select>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" th:field="*{referral}" id="referral"/> Skierowanie
            </label>
          </div>
             <div class="text-right">
          <button type="submit" class="btn btn-primary">Potwierdź</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
     
      </div>
    </div>
  </div>
</div>
</body>
</html>